 {% extends 'base.html.twig' %}

{% block body %}

  <!-- Page Header -->

    <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

   <!-- Main Content -->

  <div class="container">

    <h1>Bienvenue dans ce Blog !</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, perspiciatis explicabo. Iusto, ducimus, assumenda. Molestias unde natus voluptas fuga soluta quae, beatae, eos autem vitae veniam fugiat aperiam eius rem adipisci vero consectetur placeat nam voluptatem iste, cupiditate doloribus eaque.</p>
    <p>At minima eveniet, consequuntur magnam, nostrum odit consequatur voluptate. Doloribus id consequatur fuga? Deserunt voluptatem enim pariatur cum totam facere aspernatur! Quod suscipit fugit dolorem tempore voluptas asperiores, consequatur animi quia ea esse nisi explicabo, odio aperiam nulla natus, officia.</p>

  </div>

{% endblock %}
