{% extends 'base.html.twig' %}

{% block body %}

  <h1>Création d'un article</h1>

  {{ form_start(form) }}

  {{ form_widget(form) }}

  <button type="submit" class="btn btn-success">
    {% if editMode %}
      Enregistrer les modifications
    {% else %}
      Ajouter l'article
    {% endif %}
  </button>



  {{ form_end(form) }}

{% endblock %}
